.headerdiv h1 {
  color: #4f1c51;
  font-size: 1.5em;
  font-family: "Shadows Into Light";
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f0e9;
  border-radius: 15px;
  padding: 0 10px;
}
